<div class="main-header">

    <div class="main-header__hamburger-wrapper">
        <app-hamburger></app-hamburger>
    </div>

    <div class="main-header__wrapper">
        <p class="header-main-paragraph">The World Of</p>

        <div class="main-header-wrapper-wrapper">

            <img class="header-icon" src="./assets/images/icons/Icon-white-diamond.svg">
            <h1 class="header-main">Diamond</h1>
            <img class="header-icon" src="./assets/images/icons/Icon-white-diamond.svg">

        </div>

    </div>

    <div class="main-header__empty"></div>

</div>