html {
  font-size: 62.5%; 
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Garamond;
  font-size: 1.6rem;
  color: $color-white;
  background-color: $color-masala;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow: hidden; /* Hide scrollbars */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {  
  display: none;
}
