<!-- <app-hamburger-menu></app-hamburger-menu> -->

<main class="main">

    <div class="main-container">

        <app-header-ui style="width: 100%"></app-header-ui>

        <app-navbar-ui style="width:100%"></app-navbar-ui>

        <article class="main-wrapper">

            <section class="about-section">

                <!-- Story -->

                <div class="about-section__container">

                    <div class="about-section__wrapper">
                        <h2 class="about-section__header about-header">Story</h2>
                        <p class="about-section__paragraph about-paragraph text-rotate-right">
                            Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Fugiat
                            alias sequi veritatis, laborum maiores nisi eligendi quaerat laboriosam consequatur qui
                            repudiandae accusamus, odit quasi sunt? Numquam inventore debitis eveniet non!
                        </p>
                    </div>

                    <img class="about-section__image" src="./assets/images/img/story.jpg" alt="story-image">

                </div>

                 <!-- World -->

                <div class="about-section__container about-section__container--flex-direction-reserve">

                    <img class="about-section__image" src="./assets/images/img/world.png" alt="story-image">

                    <div class="about-section__wrapper">
                        <h2 class="about-section__header about-header">World</h2>
                        <p class="about-section__paragraph about-paragraph text-rotate-left">Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Fugiat
                            alias sequi veritatis, laborum maiores nisi eligendi quaerat laboriosam consequatur qui
                            repudiandae accusamus, odit quasi sunt? Numquam inventore debitis eveniet non!
                        </p>
                    </div>

                </div>

                 <!-- Charakters -->

                <div class="about-section__container">
                    
                    <div class="about-section__wrapper">
                        <h2 class="about-section__header about-header">Charakters</h2>
                        <p class="about-section__paragraph about-paragraph text-rotate-right">Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Fugiat
                            alias sequi veritatis, laborum maiores nisi eligendi quaerat laboriosam consequatur qui
                            repudiandae accusamus, odit quasi sunt? Numquam inventore debitis eveniet non!
                        </p>
                    </div>

                    <img class="about-section__image" src="./assets/images/img/characters.jpg" alt="story-image">

                </div>

                 <!-- Idea -->

                <div class="about-section__container about-section__container--flex-direction-reserve">

                    <img class="about-section__image" src="./assets/images/img/idea.jpg" alt="story-image">

                    <div class="about-section__wrapper">
                        <h2 class="about-section__header about-header">Idea</h2>
                        <p class="about-section__paragraph about-paragraph text-rotate-left">Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Fugiat
                            alias sequi veritatis, laborum maiores nisi eligendi quaerat laboriosam consequatur qui
                            repudiandae accusamus, odit quasi sunt? Numquam inventore debitis eveniet non!
                        </p>
                    </div>

                </div>

            </section>
        </article>
        <app-footer-ui style="width:100%"></app-footer-ui>
    </div>
</main>