<section class="about-section" *ngIf="!isLoading">

    <!-- Story -->

    <div class="about-section__container">

        <div class="about-section__wrapper">
            <h2 class="about-section__header about-header">Story</h2>
            <p class="about-section__paragraph about-paragraph text-rotate-right">
                The story takes place in a space between two universes: the world of Diamond and Hell. Hell is a dimension that, like a massive black hole, absorbs other universes. The Diamond world is next in line, fighting for survival for many years now. It serves as a kind of barrier between Hell and the rest of the realms. Demons, always hungry for energy, try to break to other worlds and consume them in order to achieve greater power. However to do so, they must cast aside their differences and ambitions, because only united they are strong enough to break the barrier between universes. On the other hand, envoys of the Diamond world have legendary items crafted from black matter, thanks to which they manage to fight off the attacks of hellish creatures. But for how long...? 

            </p>
        </div>

        <img class="about-section__image" src="./assets/images/img/story.jpg" alt="story-image">

    </div>

    <!-- World -->

    <div class="about-section__container about-section__container--flex-direction-reserve">

        <img class="about-section__image" src="./assets/images/img/world.png" alt="story-image">

        <div class="about-section__wrapper">
            <h2 class="about-section__header about-header">World</h2>
            <p class="about-section__paragraph about-paragraph text-rotate-left">
                The world of Diamond is one of the last planets in a dying universe. Its biology and landscapes are highly diverse,  while creatures that inhabit it have different origins, often coming from other realms. The most important inhabitants are the Diamond Carriers, beings synchronized with mighty artifacts that are their source of power. The Hellish world, on the other hand, is a black hole, and the creatures that live there are neither dead nor alive. They are „shells” run by energy from neutron stars. Should they ever get out, they will destroy the next universe with their unstoppable hunger for energy. 
            </p>
        </div>

    </div>

    <!-- Characters -->

    <div class="about-section__container">

        <div class="about-section__wrapper">
            <h2 class="about-section__header about-header">Characters</h2>
            <p class="about-section__paragraph about-paragraph text-rotate-right">
                All of the characters are invented by me. During my daily sketching routines, there were moments when a strange new character appeared in my mind. One after another, like links in a chain. And with them, the story around them started to grow. The comic is drawn in a manga artistic style, therefore the color palette is black and white. Character’s design evolves from chapter to chapter along with my own progress as a drawer and storyteller. With every page I have improved my style and drawing technique, therefore some differences in style are to be expected.
            </p>
        </div>

        <img class="about-section__image" src="./assets/images/img/characters.png" alt="story-image">

    </div>

    <!-- Idea -->

    <!-- <div class="about-section__container about-section__container--flex-direction-reserve">

        <img class="about-section__image" src="./assets/images/img/idea.jpg" alt="story-image">

        <div class="about-section__wrapper">
            <h2 class="about-section__header about-header">Idea</h2>
            <p class="about-section__paragraph about-paragraph text-rotate-left">Lorem ipsum, dolor sit amet
                consectetur
                adipisicing elit. Fugiat
                alias sequi veritatis, laborum maiores nisi eligendi quaerat laboriosam consequatur qui
                repudiandae accusamus, odit quasi sunt? Numquam inventore debitis eveniet non!
            </p>
        </div>

    </div> -->

</section>


<mat-spinner *ngIf="isLoading"></mat-spinner>