<section class="about-section" *ngIf="!isLoading">

    <!-- Story -->

    <div class="about-section__container">

        <div class="about-section__wrapper">
            <h2 class="about-section__header about-header">Story</h2>
            <p class="about-section__paragraph about-paragraph text-rotate-right">
                The story is takeing place, between two borfering eathc other universes. The world of diamond and hell.
                The diamond world is a kind of barrier , the next circle of hell to be absorbed, fighting for surviving
                of the whole eternity. Hell for the other hand is massive dark hole, that has absorbed it's own whole
                universes.
                Demons, always hungry for energy, try to get to other worlds to consume them and achieve greater power.
                But they can't get in without achieving political order, by that culminating enough energy to breake the
                bariers of two universes.Wysłannicy diamentu posiadaja legendarne przedmioty stworzone z czarnej
                materii, dzieki nim udaje im sie odpierac ataki piekielnych istot.But for how long...

            </p>
        </div>

        <img class="about-section__image" src="./assets/images/img/story.jpg" alt="story-image">

    </div>

    <!-- World -->

    <div class="about-section__container about-section__container--flex-direction-reserve">

        <img class="about-section__image" src="./assets/images/img/world.png" alt="story-image">

        <div class="about-section__wrapper">
            <h2 class="about-section__header about-header">World</h2>
            <p class="about-section__paragraph about-paragraph text-rotate-left">Lorem ipsum, dolor sit amet
                The world of diamonds is one of the last planets in a dying universe. With different biomasses and
                scenery. Creatures that inhabit them are of all origins. The most important are the diamond carriers,
                beings synchronized with mighty artifacts, giving them power.
                The hellish world, on the other hand, is a black hole, and the creatures that live there are neither
                dead nor alive. they are shells run by neutron stars energy. Should they ever get out, they will destroy
                the next universe with their unstoppable energy hunger.
            </p>
        </div>

    </div>

    <!-- Characters -->

    <div class="about-section__container">

        <div class="about-section__wrapper">
            <h2 class="about-section__header about-header">Charakters</h2>
            <p class="about-section__paragraph about-paragraph text-rotate-right">Characters are a 
            </p>
        </div>

        <img class="about-section__image" src="./assets/images/img/characters.jpg" alt="story-image">

    </div>

    <!-- Idea -->

    <div class="about-section__container about-section__container--flex-direction-reserve">

        <img class="about-section__image" src="./assets/images/img/idea.jpg" alt="story-image">

        <div class="about-section__wrapper">
            <h2 class="about-section__header about-header">Idea</h2>
            <p class="about-section__paragraph about-paragraph text-rotate-left">Lorem ipsum, dolor sit amet
                consectetur
                adipisicing elit. Fugiat
                alias sequi veritatis, laborum maiores nisi eligendi quaerat laboriosam consequatur qui
                repudiandae accusamus, odit quasi sunt? Numquam inventore debitis eveniet non!
            </p>
        </div>

    </div>

</section>


<mat-spinner *ngIf="isLoading"></mat-spinner>