<app-hamburger-menu></app-hamburger-menu>

<main class="main">

    <video autoplay muted loop>
        <source src="./assets/video/smoke.mp4" type="video/mp4">
    </video> 

    <div class="main-container">


        <header style="width: 100%">

            <app-header-ui ></app-header-ui> 

        </header>     

        <app-navbar-ui style="width: 100%"></app-navbar-ui>

        <article class="main-wrapper">

            <router-outlet></router-outlet>

        </article>               

        <app-footer-ui style="width:100%"></app-footer-ui>        

    </div>

    <img class="main-qr-image" src="./assets/images/img/heroku-qr-link.png" alt="QR">
</main>