<div class="contact-tag-wrapper">

    <div>
        
        <p>Email:</p>

        <a href="mailto:theworldofdiamondcomic@gmail.com" target="_blank" rel="noopener">

            theworldofdiamondcomic@gmail.com

        </a>

    </div>

    <nav>

        <ul>

            <li>

                <a href="" target="_blank" rel="noopener noreferrer">

                    <img src="" alt="facebook_icon">

                </a>

            </li>

            <li>

                <a href="" target="_blank" rel="noopener noreferrer">

                    <img src="" alt="facebook_icon">

                </a>

            </li>

            <li>

                <a href="" target="_blank" rel="noopener noreferrer">

                    <img src="" alt="facebook_icon">

                </a>

            </li>

        </ul>

    </nav>

</div>