<div class="contact-tag-wrapper">

    <h1 class="margin-bottom">Contact :</h1>

    <div class="contact-email-wrapper margin-bottom">

        <p class="contact-section-text margin-bottom">Email :</p>

        <a class="contact-email-tag contact-section-text" href="mailto:theworldofdiamondcomic@gmail.com" target="_blank" rel="noopener">

            theworldofdiamondcomic@gmail.com

        </a>

    </div>

    <ul class="contact-link-list">

        <li class="contact-list-item">

            <a class="contact-a-tag" href="https://www.facebook.com/profile.php?id=100072181863697" target="_blank"
                rel="noopener noreferrer">

                <img class="contact-image-1" src="assets/images/icons/facebook.svg" alt="facebook_icon">

            </a>

        </li>

        <li>

            <a href="https://www.youtube.com/channel/UCijypkUM0csULuZjw6gLozQ/featured" target="_blank"
                rel="noopener noreferrer">

                <img class="contact-image-2" src="assets/images/icons/youtube.svg" alt="youtube_icon">

            </a>

        </li>

        <li>

            <a href="https://www.deviantart.com/xalelixir" target="_blank" rel="noopener noreferrer">

                <img class="contact-image-1" src="assets/images/icons/deviantart.svg" alt="deviant_icon">

            </a>

        </li>

    </ul>

</div>