<main class="main">

    <div class="main-container">

        <div class="main-header">

            <i class="icon">@</i>
            <h1 class="header-main">Diamond</h1>
            <i class="iocn">@</i>

        </div>

        <app-navbar-ui style="width: 100%"></app-navbar-ui>

        <article class="home-container">

            <section class="home-section">

                <div class="home-section-logo">
                    <div class="logo-ball"></div>
                    <div class="logo-diamond-1"></div>
                    <div class="logo-diamond-2"></div>
                </div>

                <div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ipsam aut error quod perferendis, facere ut quas nihil corrupti voluptate blanditiis repellendus culpa non dolore perspiciatis consequatur similique rerum labore?</p>
                    <div class="line-shape-gold"></div>
                    <div class="line-shape-dark"></div>
                </div>

            </section>

            <div class="home-gallery">
                <img src="" alt="image_1" class="home-gallery-1">
                <img src="" alt="image_2" class="home-gallery-2">
                <img src="" alt="image_3" class="home-gallery-3">
                <img src="" alt="image_4" class="home-gallery-4">
                <img src="" alt="image_5" class="home-gallery-5">
                <img src="" alt="image_6" class="home-gallery-6">
            </div>

            <footer>

            </footer>

        </article>

    </div>

</main>