<section class="home-section">

    <div class="home-section-header">

        <div class="home-section-logo">

            <div class="logo-ball"></div>

            <img class="logo-diamond-1" src="./assets/images/icons/Icon-black-diamond.svg" alt="diamond-1">
            
            <img class="logo-diamond-2" src="./assets/images/icons/Icon-pink-diamond.svg" alt="diamond-2">

        </div>
    
        <div class="home-section-text-container">
            <p class="home-section-text home-text-wrapper">
                Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Repellat ipsam aut error quod
                perferendis, facere ut quas nihil corrupti voluptate blanditiis repellendus culpa non dolore
                perspiciatis consequatur similique rerum labore?
            </p>
            <div class="line-shape-gold"></div>
            <div class="line-shape-dark"></div>
        </div>
    </div>

    <div class="home-gallery">
    
        <div class="home-gallery-1 home-gallery-image">
            <img class="home-image" src="./assets/images/img/image-1.png" alt="image_1">
        </div>
    
        <div class="home-gallery-2 home-gallery-image">
            <img class="home-image" src="./assets/images/img/image-2.png" alt="image_2">
        </div>
    
        <div class="home-gallery-3 home-gallery-image">
            <img class="home-image" src="./assets/images/img/image-3.png" alt="image_3">
        </div>
    
        <div class="home-gallery-4 home-gallery-image">
            <img class="home-image" src="./assets/images/img/image-4.png" alt="image_4">
        </div>
    
        <div class="home-gallery-5 home-gallery-image">
            <img class="home-image" src="./assets/images/img/image-5.png" alt="image_5">
        </div>
    
        <div class="home-gallery-6 home-gallery-image">
            <img class="home-image" src="./assets/images/img/image-6.png" alt="image_6">
        </div>
    
    </div>
</section>
