.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    &--flex-direction-reserve {
      @include respond(tab-port) {
        flex-direction: column-reverse;
      }      
    }
  }

  &__wrapper {
    width: auto;
    display: flex;
    flex-direction: column;   
  }

  &__header {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  &__paragraph {
    display: inline-block;
  }

  &__image {
    margin: 0 3rem;
    max-height: 25rem;
    max-width: 40%;
    transition: transform .3s;
    /* Animation */

    &:hover {
      transform: scale(1.15);
      /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    @include respond(tab-land) {
      pointer-events: none;
      
    }

    @include respond(tab-port) {
      margin-top: 2rem;
      margin-bottom: 1rem;
      max-height: 35rem;
      max-width: 80%;
    }
  }

}
