.home-gallery { 
  position: relative; 
  display: grid;
  max-height: calc(100vh - 43.8rem);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;    

  grid-template-areas:
    "home-gallery-1 home-gallery-2 home-gallery-2 home-gallery-2"
    "home-gallery-3 home-gallery-3 home-gallery-4 home-gallery-5"
    "home-gallery-3 home-gallery-3 home-gallery-4 home-gallery-6";

    @include respond(tab-port) {
      max-height: calc(100vh - 38rem);
    }

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: 12rem 20rem 30rem 20rem 25rem 35rem;
    grid-template-areas:
      "home-gallery-1"
      "home-gallery-2"
      "home-gallery-3"
      "home-gallery-4"
      "home-gallery-5"
      "home-gallery-6";
      
      max-height: auto;   
      margin-bottom: 78rem;   
  }

  .gallery-cell {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;

    .home-image {

      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center;      
      /* Animation */
      transition: all 1s;

      &:hover {        
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        transform: scale(1.1);
        filter: invert(80%);      
      }

      @include respond(tab-land) {
        pointer-events: none;
      } 

    }
  }

  .home-gallery-1 {
    grid-area: home-gallery-1;
  }

  .home-gallery-2 {
    position: relative;
    grid-area: home-gallery-2;
  }

  .home-gallery-3 {
    position: relative;
    grid-area: home-gallery-3;
  }

  .home-gallery-4 {
    position: relative;
    grid-area: home-gallery-4;
  }

  .home-gallery-5 {
    position: relative;
    grid-area: home-gallery-5;
  }

  .home-gallery-6 {
    position: relative;
    grid-area: home-gallery-6;
  }

  @include respond(tab-port) {
    .home-gallery-image {
      &:hover {
        height: 30rem;
      }
    }
  }
}
