.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1rem 0;
  background-color: $color-mine-shaft;

  video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: contrast(250%);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @include respond(tab-land) {
    video {
      display: none;
    }
  }

  @include respond(tab-port) {
    padding: 0;  
  }

  .main-container {
    background-color: $color-mine-shaft;
    position: relative;
    margin: 0 auto;
    width: 100rem;
    height: 100%;
    border: 1px solid white;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: stretch;
    border: solid 2px $color-border-dive-gray;
    border-radius: 15px;

    @include respond(tab-land) {
      width: 80%;
      border: none;
    }

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      width: 100%;
    }

    .main-wrapper {
      padding: 2rem 1rem;
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      
      overflow: scroll;
      scrollbar-width: none;
      
      background-color: $color-cannon-pink;
      border: none;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

    }
  }
}
