.navbar {
  margin-top: 1.2rem;  
  margin-bottom: 2.5rem;  
  display: block;

  @include respond(tab-land) {
    display: none;
   }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond(tab-land) {
      flex-direction: column;
     }
  }

  &__list-item {
    list-style: none;
    text-align: center;
}

&__tag {
    flex: 1;
    text-decoration: none;
    color: $color-white;
    padding: 1rem 8rem;
    // transition: all 0.3s ease-in-out;

    @include respond(tab-land) {
      padding: 1rem 5rem;
      pointer-events: none;
    }

    &:hover {
      color: $color-gold-sand;
    }   

    &:active {
      color: $color-white;
    }
  }
}

.router-link-color {
  color: $color-gold-sand;
  border-bottom: solid 4px $color-gold-sand;
}
