<div class="image-slider" *ngIf="!isLoading && !isMobile">

    <div class="image-slider__close-btn-wrapper">
        <button class="dialog-close-btn" mat-dialog-close>
            <img src="./assets/images/icons/Icon-close.svg" alt="close">
        </button>
    </div>

    <div class="image-slider__image">
        <img [src]="currentPageUrl" alt="comic-page">
    </div>

    <div class="image-slider__navigation">

        <button class='image-nav-btn image-nav-btn-left' (click)="onPageBack()">
            <img src="./assets/images/icons/Icon-arrow-left.svg" alt="right">
        </button>

        <p class="chapter-page-number chapter-page-numbe-text">{{currentPageName}}</p>

        <button class='image-nav-btn image-nav-btn-left' (click)="onPageForward()">
            <img src="./assets/images/icons/Icon-arrow-right.svg" alt="left">
        </button>

    </div>

</div>

<div class="image-slider" *ngIf="!isLoading || isMobile">

    <div class="image-slider__close-btn-wrapper">
        <button class="dialog-close-btn" mat-dialog-close>
            <img src="./assets/images/icons/Icon-close.svg" alt="close">
        </button>
    </div>

    <cdk-virtual-scroll-viewport itemSize="{{innerHeight}}" class="mobile-image-slider">
        <img class="mobile-image-slider__image" [src]="page" alt="" *cdkVirtualFor="let page of chapterPages">
    </cdk-virtual-scroll-viewport>

</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>