.comic-section {
  position: relative;
  width: 100%;

  .comic-chapter-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .chapter-list {
      position: relative;
      background-color: $color-masala;
      list-style: none;
      height: 5rem;
      width: 60%;
      margin-top: 0.5rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;

      @include respond(tab-land) {
        width: 90%;
      }

      .shaper-arrow {
        display: none;
        position: absolute;
        transition: all 0.3s;
        right: 0;
        width: 0;
        height: 0;
        border-top: 2.5rem solid transparent;
        border-right: 4rem solid $color-cannon-pink;
        border-bottom: 2.5rem solid transparent;
      }

      &:hover {
        .shaper-arrow {
          display: block;
        }

        color: $color-gold-sand;
      }

      &:active {
        color: $color-masala;
      }
    }
  }
}

.section::-webkit-scrollbar {
  display: none;
}
