.hamburger-menu {
  position: relative;  
  cursor: pointer;
  display: none;
  margin-left: 2rem;
  z-index: 4000;

  @include respond(tab-land) {
    display: block;
  }

}

// Hamburger animated icon 
.hamburger {  
  width: 3rem;
  height: 0.3rem;
  background: $color-white;
  position: absolute; 
  transition: 0.5s;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  background: $color-white;
  transition: 0.5s;
}

.hamburger::before {
  top: -12px;
}

.hamburger::after {
  top: 12px;
}

@include respond(tab-land) {
  .hamburger::before {
    top: -7px;
  }
  
  .hamburger::after {
    top: 7px;
  }
}

.hamburger-menu.active .hamburger {
  background: transparent;
}

.hamburger-menu.active .hamburger::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger-menu.active .hamburger::after {
  top: 0;
  transform: rotate(135deg);
}

// =============================================================================

.main-menu-hamburger.active {
  display: block;
}

.main-menu-hamburger {
  top: 0;
  left: 0;
  z-index: 3000;
  position: absolute;
  display: block;
  background-color: $color-cannon-pink;
  width: 100%;
  height: 100%;
  transition: 0.5s;

  .main-menu-hamburger-container {
    width: auto;
    min-height: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;  
    
    .hamburger-menu-listitem {
      list-style: none;
      margin: 4rem 0;

      .navbar-tag-text {     

      }
    }
  }
}
