.home-section-logo {
  position: relative;
  width: 40rem;

  .logo-ball {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background-color: $color-gold-sand;
    border-radius: 50%;
    z-index: 1;
  }

  .logo-diamond-1,
  .logo-diamond-2 {
    position: absolute;
    width: 13rem;
  }

  .logo-diamond-1 {
      top: 25%;
      left: 20%;
      z-index: 3;
  }

  .logo-diamond-2 {
    top: 23%;
    left: 17%;
    z-index: 2;
  }

}
