.home-gallery {
  max-height: 75%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1f;
  grid-gap: 0.8rem;

  grid-template-areas:
    "home-gallery-1 home-gallery-2 home-gallery-2 home-gallery-2"
    "home-gallery-3 home-gallery-3 home-gallery-4 home-gallery-5"
    "home-gallery-3 home-gallery-3 home-gallery-4 home-gallery-6";

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "home-gallery-1"
      "home-gallery-2"
      "home-gallery-3"
      "home-gallery-4"
      "home-gallery-5"
      "home-gallery-6";
  }

  .home-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top;
    overflow: hidden;

    transition: transform .3s;
    /* Animation */

    &:hover {
      transform: scale(0.95);
      /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    @include respond(tab-land) {
      pointer-events: none;
    }

  }

  .home-gallery-1 {
    position: relative;
    grid-area: home-gallery-1;
  }

  .home-gallery-2 {
    position: relative;
    grid-area: home-gallery-2;
  }

  .home-gallery-3 {
    position: relative;
    grid-area: home-gallery-3;
  }

  .home-gallery-4 {
    position: relative;
    grid-area: home-gallery-4;
  }

  .home-gallery-5 {
    position: relative;
    grid-area: home-gallery-5;
  }

  .home-gallery-6 {
    position: relative;
    grid-area: home-gallery-6;
  }
  
  @include respond(tab-port) {
    .home-gallery-image {
      &:hover {
        height: 40rem;
      }
    }  
  }
}
