.home-gallery {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.8rem;

  grid-template-areas:
    "home-gallery-1 home-gallery-2 home-gallery-2 home-gallery-2"
    "home-gallery-3 home-gallery-3 home-gallery-4 home-gallery-5"
    "home-gallery-3 home-gallery-3 home-gallery-4 home-gallery-6";

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "home-gallery-1"
      "home-gallery-2"
      "home-gallery-3"
      "home-gallery-4"
      "home-gallery-5"
      "home-gallery-6";
  }

  .gallery-cell {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;

    .home-image {

      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: top;
      filter: blur(1px);
      transform: scale(1.3);
      /* Animation */
      transition: all 2s;

      &:hover {
        filter: blur(0);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        transform: scale(1);
      }

      @include respond(tab-land) {
        transform: scale(1);
        filter: blur(0);
        pointer-events: none;
      }

    }
  }

  .home-gallery-1 {
    grid-area: home-gallery-1;
  }

  .home-gallery-2 {
    position: relative;
    grid-area: home-gallery-2;
  }

  .home-gallery-3 {
    position: relative;
    grid-area: home-gallery-3;
  }

  .home-gallery-4 {
    position: relative;
    grid-area: home-gallery-4;
  }

  .home-gallery-5 {
    position: relative;
    grid-area: home-gallery-5;
  }

  .home-gallery-6 {
    position: relative;
    grid-area: home-gallery-6;
  }

  @include respond(tab-port) {
    .home-gallery-image {
      &:hover {
        height: 30rem;
      }
    }
  }
}
