<nav class="navbar">

    <ul class="navbar__list">

        <li class="navbar__list-item">

            <a class="navbar__tag navbar-tag-text" routerLink="/home" routerLinkActive="router-link-color">Home</a>

        </li>

        <li class="navbar__list-item">
            
            <a class="navbar__tag navbar-tag-text" routerLink="/comic" routerLinkActive="router-link-color">Comic</a>

        </li>

        <li class="navbar__list-item">

            <a class="navbar__tag navbar-tag-text"  routerLink="/about" routerLinkActive="router-link-color">About</a>

        </li>

        <li class="navbar__list-item">

            <a class="navbar__tag navbar-tag-text"  routerLink="/contact" routerLinkActive="router-link-color">Contact</a>
            
        </li>
        
    </ul>
</nav>
