// Colors
$color-masala: #433D3C;
$color-border-dive-gray: #707070;
$color-gold-sand: #E9C496;
$color-cannon-pink: #944E6C;
$color-white: white;
$color-mine-shaft: #2D2C2C;
$color-chelsea-cucumber: #83A95C;
