<nav class="main-menu-hamburger">

    <div class="main-menu-hamburger-container">
        
        <h1 class="header-main">Diamnond</h1>

        <ul>
            <li class="hamburger-menu-listitem">
                <a class="navbar-tag-text" routerLink="/home" routerLinkActive="router-link-color">Home</a>
            </li>

            <li class="hamburger-menu-listitem">
                <a class="navbar-tag-text" routerLink="/comic" routerLinkActive="router-link-color">Comic</a>
            </li>

            <li class="hamburger-menu-listitem">
                <a class="navbar-tag-text" routerLink="/about" routerLinkActive="router-link-color">About</a>
            </li>
        </ul>

    </div>
</nav>