<nav class="main-menu-hamburger" *ngIf="isOpen">

    <div class="main-menu-hamburger-container">
        <div class="home-section-logo">

            <div class="logo-ball"></div>
            <img class="logo-diamond-1" src="./assets/images/icons/Icon-black-diamond.svg" alt="diamond-1">            
            <img class="logo-diamond-2" src="./assets/images/icons/Icon-pink-diamond.svg" alt="diamond-2">

        </div>
        
        <h1 class="header-main">Diamnond</h1>

        <ul> 
            <li class="hamburger-menu-listitem">
                <a class="navbar-tag-text" (click)="onChangeVisibility()" routerLink="/home" routerLinkActive="router-link-color">Home</a>
            </li>

            <li class="hamburger-menu-listitem">
                <a class="navbar-tag-text" (click)="onChangeVisibility()" routerLink="/comic" routerLinkActive="router-link-color">Comic</a>
            </li>

            <li class="hamburger-menu-listitem">
                <a class="navbar-tag-text" (click)="onChangeVisibility()"  routerLink="/about" routerLinkActive="router-link-color">About</a>
            </li>

            <li class="hamburger-menu-listitem">
                <a class="navbar-tag-text" (click)="onChangeVisibility()"  routerLink="/contact" routerLinkActive="router-link-color">Contact</a>
            </li>
        </ul>

    </div>
</nav>