<nav class="main-menu-hamburger">

    <div class="main-menu-hamburger-container">

        <div class="hamburger-menu-header-container">
            <app-header-ui></app-header-ui>
        </div>

        <div class="hamburger-menu-logo-container">

            <div class="main-side-nav-logo-wrapper">

            </div>
        </div>
        <div class="hamburger-menu-button-container">

            <nav class="navbar">
                <ul class="navbar__list">
            
                    <li class="navbar__list-item">
                        <a class="navbar__tag navbar-tag-text" routerLink="/home" routerLinkActive="router-link-color">Home</a>
                    </li>
            
                    <li class="navbar__list-item">
                        <a class="navbar__tag navbar-tag-text" routerLink="/comic" routerLinkActive="router-link-color">Comic</a>
                    </li>
            
                    <li class="navbar__list-item">
                        <a class="navbar__tag navbar-tag-text"  routerLink="/about" routerLinkActive="router-link-color">About</a>
                    </li>
                    
                </ul>
            </nav>

        </div>
    </div>
</nav>