<main class="main">

    <div class="main-container">

        <app-header-ui></app-header-ui>

        <app-navbar-ui style="width: 100%"></app-navbar-ui>

        <article class="main-wrapper">

            <div class="comic-section">
                <ul class="comic-chapter-list">

                    <li class="list-chapter" *ngFor="let chapter of comicArr" (click)="onChooseChapter(chapter.name)">
                        <a class="chapter-list-text">{{chapter.display}}</a>
                    </li>          
                   
                </ul>
            </div>            
        </article>       

        <app-footer-ui style="width:100%"></app-footer-ui>
    </div>
</main>